anyio==4.1.0
click==8.1.7
colorama==0.4.6
exceptiongroup==1.2.0
fastapi==0.99.1
greenlet==3.0.1
h11==0.14.0
httptools==0.6.1
idna==3.6
Nuitka==1.9.1
ordered-set==4.1.0
psutil==5.9.6
psycopg2==2.9.9
pydantic==1.10.13
python-dotenv==1.0.0
PyYAML==6.0.1
sniffio==1.3.0
SQLAlchemy==2.0.23
starlette==0.27.0
typing_extensions==4.8.0
uvicorn==0.24.0.post1
watchfiles==0.21.0
websockets==12.0
zstandard==0.22.0
